.containerCart .cartIcon {
  font-size: 40px;
  color: #563d71;
  cursor: pointer;
}
.cartNumber{
position:absolute;
font-size: 23px;
font-weight: 500;
top: -12px;
right: -10px;
color: #5f5e60;
}
.containerCart{
  position: relative;

}